{% extends 'tienda/base.html' %}

{% block content %}



                <h2>Producto: {{ producto.nombre }}</h2>
                 <ul>
                    <li>
                        ID: {{ producto.id }}
                    </li>
                    <li>
                        Modelo: {{ producto.modelo }}
                    </li>
                    <li>
                        Unidades: {{ producto.unidades }}
                    </li>
                    <li>
                        Precio:  {{ producto.precio }}€
                    </li>
                    <li>
                        Detalles: {{ producto.detalles }}
                    </li>
                    <li>
                        Marca: {{ producto.marca }}
                    </li>
                 </ul>

                {% if validacion_unidades == False %}
                    <p>Se excede el numero de unidades</p>
                {% endif %}


    <form method="POST">
    {% csrf_token %}
        {{ form }}
       <p> <input type="submit" value="Comprar"> <a href="{% url 'listado_compra' %}">Productos </a></p>
    </form>

{% endblock %}
