{% extends 'tienda/base.html' %}

{% block content %}


        {% for p in producto %}
            {% if p.id ==  pk%}
                <h2>Producto: {{ p.nombre }}</h2>
                 <ul>
                    <li>
                        ID: {{ p.id }}
                    </li>
                    <li>
                        Modelo: {{ p.modelo }}
                    </li>
                    <li>
                        Unidades: {{ p.unidades }}
                    </li>
                    <li>
                        Precio:  {{ p.precio }}€
                    </li>
                    <li>
                        Detalles: {{ p.detalles }}
                    </li>
                    <li>
                        Marca: {{ p.marca }}
                    </li>
                 </ul>

                {% if validacion_unidades == False %}
                    <p>Se excede el numero de unidades</p>
                {% endif %}
            {% endif %}

        {% endfor %}


    <form method="POST">
    {% csrf_token %}
        {{ form }}
       <p> <input type="submit" value="Comprar"> <a href="{% url 'listado_compra' %}">Productos </a></p>
    </form>

{% endblock %}
