{% extends 'tienda/base.html' %}

{% block content %}


        {% for p in producto %}
            {% if p.id ==  pk%}
                <h2>Producto: {{ p.nombre }}</h2>
                 <ul>
                    <li>
                        ID: {{ p.id }}
                    </li>
                    <li>
                        Modelo: {{ p.modelo }}
                    </li>
                    <li>
                        Unidades: {{ p.unidades }}
                    </li>
                    <li>
                        Precio:  {{ p.precio }}€
                    </li>
                    <li>
                        Detalles: {{ p.detalles }}
                    </li>
                    <li>
                        Marca: {{ p.marca }}
                    </li>
                 </ul>
            {% endif %}
        {% endfor %}

    <form method="POST">
    {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

{% endblock %}
