{% extends 'tienda/base.html' %}

{% block content %}
    <h2>Producto</h2>

        {% for p in listaproducto %}

            <h6>{{ p.nombre }}</h6>
            <ul>
                <li>
                    ID: {{ p.id }}
                </li>
                <li>
                    Modelo: {{ p.modelo }}
                </li>
                <li>
                    Unidades: {{ p.unidades }}
                </li>
                <li>
                    Precio:  {{ p.precio }}€
                </li>
                <li>
                    Detalles: {{ p.detalles }}
                </li>
                <li>
                    Marca: {{ p.marca }}
                </li>
            </ul>
            {% if user.is_staff %}
                <a href={% url 'update' p.id %}>Actualizar</a>
                <a href={% url 'delete' p.id %}>Eliminar</a>
                <br>
                <br>
            {% endif %}
        {% endfor %}

    {% if user.is_staff %}
        <h2><a href="{% url 'nuevo' %}">Añade un nuevo producto</a></h2>
    {% endif %}
{% endblock %}
