{% extends 'tienda/base.html' %}

{% block content %}


        {% for u in usuario %}
            <h2>Usuario: {{ u.username }}</h2>
        {% endfor %}

        {% for p in listaproducto %}


            <ul>
                <li>
                    Fecha de compra: {{ p.fecha }}
                </li>
                <li>
                    Importe: {{ p.importe }}
                </li>
                <li>
                    Unidades: {{ p.unidades }}
                </li>
                <li>
                    Producto:  {{ p.producto_id }}
                </li>
            </ul>
        {% endfor %}

{% endblock %}
